/* Project List */
.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 10px;
}

/* Project Item */
.project-item {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

.project-link {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

/* Project Image */
.project-img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Added drop shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.25s ease;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: 0.25s ease;
}

/* Hover Effects */
.project-link:hover .project-img::before {
  background: rgba(0, 0, 0, 0.5);
}

.project-link:hover .project-item-icon-box {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.project-link:hover img {
  transform: scale(1.1);
}

.project-link:hover .project-img {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3); /* Enhanced shadow on hover */
}

/* Project Icon Box */
.project-item-icon-box {
  background: #7c0044;
  color: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  font-size: 20px;
  padding: 14px 16px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: 0.25s ease;
}

/* Project Title and Category */
.project-title,
.project-category {
  margin-left: 10px;
}

.project-title {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: rgba(124, 124, 124, 0.899);
  font-size: 14px;
  font-weight: 300;
}

/* Keyframes */
@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 580px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
