.layout {
  position: relative;
  margin: 4rem 2rem;
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 1200px) {
  .layout {
    margin: 3rem 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .layout {
    margin: 4rem 3rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    margin: 4rem 2rem 6rem 2rem;
  }
}

@media only screen and (max-width: 580px) {
  .layout {
    margin: 1rem 0.75rem 6rem 0.75rem;
  }
}

@media only screen and (max-width: 320px) {
  .layout {
    margin: 1rem 0.75rem;
  }
}
